:root {
  --background: #fdf0ed;
  --foreground: #1c1e26;
  --accent: #F6661E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1e26;
    --foreground: #fdf0ed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1em;
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  margin: 5vh 5vw;
  max-width: 24em;
}

img.logo {
  background-color: var(--foreground);
  border: 0.25rem solid var(--foreground);
  border-radius: 100%;
  color: var(--background);
  display: inline-block;
  font-size: 5.5em;
  height: 1em;
  width: 1em;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 1rem;
}

h2 {
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 1em;
}

p {
  text-indent: -0.5em;
  margin-bottom: 1em;
  margin-top: 0;
  padding-left: 0.5em;
}

ul {
  list-style-type: '-';
  margin-bottom: 1em;
  margin-top: 0;
  padding-left: 1em;
}

li {
  padding-left: 0.5em;
}

a,
a:visited {
  color: var(--accent);
  text-decoration: none;
}

a:hover,
a:active {
  background-color: var(--accent);
  color: var(--background);
}

a:focus {
  outline: 0.125em solid var(--accent);
}

span.nobr {
  text-wrap: nowrap;
}
