<article>
  <header>
    <section class="info">
      <h3>{{ include.entry.title }}</h3>
      {%- if include.entry.languages %}
      <aside class="languages">
        {%- assign uclangs = 'css,html,js,php' | split: ',' -%}
        {%- for lang in include.entry.languages -%}
          {%- capture readable -%}
            {%- if uclangs contains lang -%}
              {{- lang | upcase -}}
            {%- elsif lang == 'objc' -%}
              {{- "Obj-C" -}}
            {%- else -%}
              {{- lang | capitalize -}}
            {%- endif -%}
          {%- endcapture -%}
          <span class="{{ lang }}">{{ readable }}</span>
          {%- unless forloop.last -%}
          <span class="sr-only">, </span>
          {%- endunless -%}
          {%- endfor -%}
      </aside>
      {%- endif %}
      {%- if include.entry.links %}
      <ul class="links">
      {%- for link in include.entry.links %}
        <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
      {%- endfor %}
      </ul>
      {%- endif %}
    </section>
  </header>
  <section class="description">
    <p>{{ include.entry.description }}</p>
  </section>
</article>
