<!doctype html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <title>{% if page.section != 'portfolio' %}Alex Lindeman: {% endif %}{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Alex Lindeman">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/139387?v=3&amp;s=460">
    <meta property="og:description" content="{% if page.section == 'journal' and page.layout == 'journal' %}{{ page.excerpt }}{% else %}The personal web page of Alex Lindeman, a dev-ops &amp; software engineer from Washington, D.C.{% endif %}">
    {% feed_meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/object-fit/0.4.3/polyfill.object-fit.min.css" integrity="sha256-Ai9K1TpA8q5pYMY7WSBOSzng6FCUpObQFrpWS7M59Ws=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,600,600i|Source+Code+Pro:400,700">
    {% if page.section == 'journal' %}<link rel="stylesheet" type="text/css" href="{% link rouge.css %}">{% endif %}
    <link rel="stylesheet/less" type="text/css" href="{% link ruth.less %}">
  </head>
  <body>
    <main id="{{ page.section }}" data-slug="{{ page.slug }}">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" integrity="sha256-j93v7jDprdkNOGaRtTrZJ2h0VK6nJy29Qk3+zcHOv+0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit/0.4.3/polyfill.object-fit.min.js" integrity="sha256-5ypy0l3vMSXgIqUakE/IRrGiPdiG0mynNxYyAVZLYk4=" crossorigin="anonymous"></script>
  </body>
</html>
