<!doctype html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <title>{% if page.section != 'portfolio' %}Alex Lindeman: {% endif %}{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Alex Lindeman">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/139387?v=3&amp;s=460">
    <meta property="og:description" content="{% if page.section == 'journal' and page.layout == 'journal' %}{{ page.excerpt }}{% else %}The personal web page of Alex Lindeman, a dev-ops &amp; software engineer from Washington, D.C.{% endif %}">
    {% feed_meta %}
    <link rel="stylesheet" type="text/css" integrity="sha384-gFTAvnQMdZ1wfeb9vay1SlC/c+jfgXz8qMUgAGRrTso3Q6f6J6qvcUOdYFuEP9cE" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,600,600i|Source+Code+Pro:400,700">
    {% if page.section == 'journal' %}<link rel="stylesheet" type="text/css" href="{% link rouge.css %}">{% endif %}
    <link rel="stylesheet/less" type="text/css" href="{% link ruth.less %}">
  </head>
  <body>
    <main id="{{ page.section }}" data-slug="{{ page.slug }}">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    </main>
    <script type="text/javascript" integrity="sha384-kV2QjkT0ZQQmq2Muzo1/SgUKQl/DkHPXawPrHeGO5uiwvIxAzjgOJTBEFQOvUOUF" crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js"></script>
    <script type="text/javascript" integrity="sha384-aiF66U5SW+s8Gu+LdVxqE0oMo9EBpd3zoutDdO+OPw4QNI1u296TXixj3ZnMSoV3" crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/object-fit/0.4.3/polyfill.object-fit.min.js"></script>
  </body>
</html>
